#masthead .header-main .site-title a {
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  height: 70px;
  width: 250px;
  font-size: 1px;
  color: #DFEDD6; }
#masthead .header-main .primary-navigation .nav-menu li {
  border-right: 1px solid #000; }
  #masthead .header-main .primary-navigation .nav-menu li a {
    text-decoration: underline; }
  #masthead .header-main .primary-navigation .nav-menu li:last-child {
    border-right: none; }
#masthead .header-main .primary-navigation .my-portfolio {
  background-color: #92D36E;
  display: inline-block;
  border-radius: 5px;
  min-height: 30px;
  line-height: 30px; }

#buddypress div#item-header, #buddypress div#item-nav {
  width: 25%;
  display: inline-block;
  float: left; }
  #buddypress div#item-header #item-header:after, #buddypress div#item-nav #item-header:after {
    clear: none; }
#buddypress div#item-body {
  width: 75%;
  display: inline-block; }
