.buddypress-wrapper {
	padding-top: 50px;
}
#buddypress {
	div#item-header {
		div#item-meta {
			color: #000;
		}

	}
	div#buddypress-sidebar {
		width: 225px;
		display: inline-block;
		float: left;
		margin-left: -110px;
		margin-right: 25px;
		#item-header-content {
			width: 100%;
		}
		#item-members {
			ul#member-list {
				border-top: none;
				li {
					border-bottom: none;
					overflow: auto;
					a {
						img {
							border-radius: 50%;
							width: 75px;
							height: 75px;
						}
					}
					h5 {
						display: inline-block;
						font-weight: normal;
						margin: 0;
						padding: 0;
						line-height: 47px;
						a {
							color: #000;
							text-decoration: none;
						}
					}
				}
			}
		}
		#item-member-groups {
			ul {
				li {
					width: 100%;
					display: block;
					font-size: 14px;
					a {
						color: #616161;
						text-decoration: none;
					}
					span.text {
						line-height: 32px;
						height: 50px;
						margin-left: 7px;
						display: inline-block;
					}
					img {
						border-radius: 0;
						display: inline-block;
					}
				}
			}
		}
		ul.buddypress-group-list {
			border: 1px solid #000;
			border-radius: 5px;
			list-style: none;
			margin-left: 0;
			
			li {
				border-bottom: 1px solid rgb(230, 230, 230);
				a {
					color: #000;
					text-decoration: none;
					height: 100%;
					width: 100%;
					display: block;
					padding: 13px 5px;
					img, i.fa {
						margin-right: 8px;
						margin-left: 5px;
					}
					i.fa {
						font-size: 30px;
					}
				}
				&:first-child {
					&.active {
						border-top-left-radius: 5px;
						border-top-right-radius: 5px;
					}
				}
				&.active {
					background: rgb(230, 230, 230);
				}
				&:last-child {
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
					&.active {
						border-bottom-left-radius: 5px;
						border-bottom-right-radius: 5px;
					}
				}
			}
		}
	}
	div.banner-header {
		a.banner-link {
			color: #000;
			img {
				float: left;
				display: inline-block;
				margin-left: 50px;
				height: 100px;
				width: 100px;
			}
			.right {
				display: inline-block;
				float: left;
				width: 75%;
				h2 {
					margin-left: 15px;
	
				}
				.text {
					margin-left: 15px;
	
				}	
			}
		}
	}
	div#item-body, .item-body {
		width: 75%;
		display: inline-block;
	}
	.activity-list {
		.activity-content {
			.activity-header {
				a {
					color: #000;
					font-weight: 500;	
				}
				.activity-date {
					float: right;
				}
				.acivity-postedby {
					display: inline;
					font-size: 12px;
					font-style: italic;
					margin-left: 5px;
				}
			}
			.activity-inner {
				margin: 0;
				font-size: 90%;
			}
			.activity-group {
				display: block;
				line-height: 22px;
				margin-left: 15px;
				a {
					color: #636363;
					text-decoration: none;
					font-size: 80%;
					img {
						margin-right: 1px;
					}
				}
			}
		}
		.activity {
			.activity-avatar {
				.round {
					img {
						border-radius: 50%;
					}
				}
			}
		}
	}

	
	div.empirical_group_card {
		width: 28%;
		height: 320px;
		border: 1px solid #d6d6d6;
		border-radius: 15px;
		float: left;
		margin-right: 5%;
		margin-bottom: 5%;
		background-color: #dfedd6;
		h2 a {
			color: #000;
			text-decoration: none;
		}
		div.description {
			background-color: #fff;
			padding: 10px;
			line-height: 1;
			height: 160px;
		}
		div.description a {
			color: #000;
			text-decoration: none;
		}
		
		.group_icon {
			height: 72px;
			text-align: center;
			padding: 7px;
		}
		.statistics {
			$statistics-border-radius: 10px;
			text-align: center;
			margin-top: 11px;
			div.count_icon {
				background-color: #fff;
				padding: 2px 13px 5px 13px;
				width: 50px;
				height: 25px;
				text-align: center;
				display: inline-block;
				border-top-left-radius: $statistics-border-radius;
				border-bottom-left-radius: $statistics-border-radius;
				border: 1px solid #d6d6d6;
				z-index: 6;
				margin: -1px;
				img {
					display: inline-block;
				}
				div.member_count, div.update_count {
					display: inline-block;
				}
				&.updates_count_icon {
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
					border-bottom-right-radius: $statistics-border-radius;
					border-top-right-radius: $statistics-border-radius;
					margin-left: -3px;
				}
			}
		}

	}
	
	
	#members-dir-list {
		ul#members-list {
			border-top: none;
			li {
				border-bottom: none;
				width: 33%;
				display: inline-block;
				.item-avatar {
					display: block;
					text-align: center;
					img.avatar {
						border-radius: 50%;
						float: none;
						text-align: center;
					}
				}
				.item {
					.item-title {
						display: block;
						margin:  0 auto;
						margin-top: 5px;
						text-align: center;
						a {
							color: #000;
							text-decoration: none;
							font-size: 18px;
						}
					}
				}
			}
		}
	}
	.standard-form {
		#basic-details-section {
			clear: both;
		}
	}
	form#whats-new-form #whats-new-avatar {
		display: none
	}
}

.groups {
	#buddypress {
		div#item-header {
			img.avatar {
				border-radius: 0;
			}
		}	
	}
}

.bp-user {
	#buddypress {
		div#item-header {
			img.avatar {
				border-radius: 50%;
			}
		}	
	}
}