#buddypress {
	div#item-header, div#item-nav {
		width: 25%;
		display: inline-block;
		float: left;
		#item-header {
			&:after {
				clear:none;
			}
		}

	}
	div#item-body {
		width: 75%;
		display: inline-block;
	}
}