#masthead {
	.header-main {
		min-height: 50px;
		margin: 5px auto;
		overflow: auto;
		.site-title {
			float: left;
			h1 {
				padding-top: 15px;
			}
			a {
				background-image: url('../img/logo.png');
				background-repeat: no-repeat;
				height: 57px;
				width: 345px;
				font-size: 1px;
				color: #DFEDD6;
			}
		}
		.navbar-nav.nav {
			float: right;
			li {
				display: inline-block;
				font-family: 'Adelle Sans', Helvetica, Arial, sans-serif;
				a {
					color: #fff;
					font-size: 16px;
					line-height: 45px;
					padding: 10px 20px;
					font-weight: 400;
					border-top: none;
				}
				&.signup {
					padding: 5px 15px;
					a {
					border: 1px solid #fff;
					border-radius: 15px;
					padding: 5px;
					}
				}
			}
		}
	}
	.header-bottom {
		padding: 12px 0;
		min-height: 25px;
		border-bottom: 1px solid #cecece;
		border-top: 1px solid #cecece;
		background: #fff;
		nav#sub-navigation {
			margin: 0 auto;
			max-width: 964px;
			h1 {
				font-weight: 600;
				font-size: 24px;
				font-family: 'Adelle Sans', Helvetica, Arial, sans-serif;
				margin: 0;
				padding: 0 30px;
				float: left;
				
			}
			ul.menu {
				padding: 0 30px;
				float: right;
				li {
					display: inline-block;
					margin: 0 15px;
				}
			}
		}
	}
}