#masthead {
	.header-main {
		min-height: 50px;
		margin: 20px auto;
		overflow: auto;
		.site-title {
			float: left;
			a {
				background-image: url('../img/logo.png');
				background-repeat: no-repeat;
				height: 57px;
				width: 345px;
				font-size: 1px;
				color: #DFEDD6;
			}
		}
		.navbar-nav.nav {
			float: right;
			li {
				display: inline-block;
				font-family: 'Open Sans', Helvetica, Arial, sans-serif;
				a {
					color: #000;
					font-size: 16px;
					line-height: 45px;
					padding: 10px 20px;
					font-weight: 400;
					border-top: none;
				}
			}
		}
	}
	.header-bottom {
		padding: 12px 0;
		min-height: 25px;
		border-bottom: 1px solid #cecece;
		border-top: 1px solid #cecece;
		background: #fff;
		nav#sub-navigation {
			margin: 0 auto;
			max-width: 964px;
			ul.nav {
				padding: 0 30px;
				li {
					display: inline-block;
					margin: 0 15px;
				}
			}
		}
	}
}