#masthead {
	.header-main {
		margin: 0 auto;
		padding-top: 35px;
		min-height: 133px;
		font-family: 'Adelle Sans', Helvetica, Arial, sans-serif;

		.site-title {
			float: left;
			h1 {
				padding-top: 15px;
			}
			a {
				background-image: url('../img/logo.png');
				background-repeat: no-repeat;
				height: 57px;
				width: 345px;
				font-size: 1px;
				color: #DFEDD6;
			}
		}
		.navbar-nav.nav {
			float: right;
			li {
				display: inline-block;
				a {
					color: #fff;
					font-size: 16px;
					line-height: 100%;
					padding: 10px 20px;
					font-weight: 400;
					border-top: none;
					display: inline-block;
				}
				&.signup {
					padding: 5px 15px;
					a {
						border: 1px solid #fff;
						border-radius: 5px;
						padding: 7px;
					}
				}
				&:hover {
					a {
						background-color: #fff;
						color: #00c2a2;
						border-radius: 5px;
					}
					&.signup {
						a {
							background-color: rgba(255,255,255,0.3);
							color: #fff;
						}
					}
				}
			}
			&:after {
				clear: both;
			}
		}
		.tab-outer-wrap {
			clear: both;
			display: block;
			ul.tabs-navigation-list {
				list-style: none;
				margin: 0;
				li {
					display: inline-block;
					float: left;
					a {
						margin-right: 0;
						line-height: 1.42857143;
						border-top: 1px solid #cecece;
						border-bottom-color: transparent;
						border-right: 1px solid #cecece;
						border-bottom: 1px solid transparent;
						border-top: 2px solid transparent;
						border-radius: none;
						background: #e6e6e6;
						position: relative;
						display: block;
						padding: 14px 36px;
						color: #000;
					}
					&.active, &:hover {
						a {
							color: #000000;
							background-color: #fff;
							border-right: 1px solid #cecece;
							border-top: 2px solid #5bc1a9;
							border-bottom-color: transparent;
						}
					}
					&.active {
						a {
							border-top: 2px solid #027360;
						}
					}
				}
			}
		}
	}
	.header-bottom {
		padding: 12px 0;
		min-height: 25px;
		border-bottom: 1px solid #cecece;
		border-top: 1px solid #cecece;
		background: #fff;
		nav#sub-navigation {
			margin: 0 auto;
			max-width: 964px;
			ul.menu {
				padding: 0 30px;
				li {
					display: inline-block;
					margin: 0 15px;
					padding-left: 10px 16.5px;
				}
			}
		}
	}
}